body {
    margin: 0;
    padding: 0;
}
nav{
    width:100%;
}
div{
    float:left;
}

ul{
    margin: 0 auto;
    padding-left: 100px;
    width: 50%;
}
li{
    list-style:none;
    display:inline;
}
a{
    color: #1e88e5;
    text-decoration:none;
    float:left;
    padding:20px;    
}
a:hover {
    color: orangered;
    border-top: 2px solid orangered;
    padding-top: 18px;
}
.dropdown {
    float: right;
    margin: 20px;
}
#loginBorder {
    margin: 20px;
    padding-right: 30px;
    padding-left: 25px;
    float: right;
    border-left: 2px solid black;
}
.destination {
    background-color: #1e88e5;
    width: 100%;
    color: white;
    margin: auto;
    padding: 30px 0;
}
#title {
    font-size: 30px;
    font-weight: 500;
    float: left;
    margin-left: 100px;
}
.home {
    font-size: 18px;
    float: right;
    margin-right: 100px;
    padding-top: 7px;
}

h1 {
    font-size: 30px;
    color: #1e88e5;
}
.images {
    position: relative;
    margin-right: 14px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.caption {
    position: absolute;
    bottom: 4px;
    background-color: white;
    width: 95%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.viewmore {
    width: 100%; 
    text-align: center;
    margin-top: 50px;
}
.viewmore span {
    background-color: #8bc34a;
    padding: 8px 30px;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.sub{
    margin-top: 100px;
    background-color: #1e88e5;
    width: 100%;
}
.sub p{
    display: inline-block;
    float: left;
    margin-top: 50px;
    color: white;
    font-size: 28px;
    margin-left: 80px;
    margin-bottom: 40px;
}
.sub input,button {
    float: right;
    padding: 8px 10px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
.sub button {
    background-color: #8bc34a;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 2px;
    margin-right: 80px;
}
.footer {
    margin: 50px 0;
}

.f-col span {
    display: block;
    font-size: 17px;
}
.bold {
    font-weight: 600;
    font-size: 20px !important;
}
.f-col span,p {
    color: rgb(94, 94, 94);
}
.last {
    width: 100%;
    background-color: #1e88e5;
    text-align: center;
}
.last p {
    color: white;
    font-size: 18px;
}